<%= form_for @form do |f| %>
  <%= button_tag "+ Text Field", type: "button", class: "btn btn-success btn-sm", id: "add-text-field" %>
  <%= button_tag "+ Text Area Field", type: "button", class: "btn btn-success btn-sm", id: "add-text-area-field" %>
  <%= button_tag "+ Single Option", type: "button", class: "btn btn-success btn-sm", id: "add-single-option" %>
  <%= button_tag "+ Multiple Option", type: "button", class: "btn btn-success btn-sm", id: "add-multiple-option" %>
  <%= button_tag "+ Rating", type: "button", class: "btn btn-success btn-sm", id: "add-rating" %>
  <div id="form-body">
    <div class="row my-2">
      <div class="form-item border shadow p-3 rounded">
        <%= f.text_field :title, class: "form-control mb-3", placeholder: "Title" %>
        <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
        <div class="form-check">
          <%= f.check_box :is_sign_in_required, class: "form-check-input" %>
          <%= f.label :is_sign_in_required, "Login Required", class: "form-check-label" %>
        </div>
      </div>
    </div>
    <div id="question-list">
      <% @form.questions.each.with_index do |question, index| %>
        <%= f.fields_for :questions, question do |sub_f| %>
          <div class="row my-2" data-question="<%= question.id %>">
            <div class="form-item border shadow p-3 rounded">
              <div class="header d-flex align-items-center justify-content-between">
                <div class="title">
              	  <%= question.input_type.gsub("_", " ").titleize %><%= link_to "remove question", remove_question_path(question), remote: true, method: :delete, data: {confirm: "are you sure?"}, class: "ms-3" %>
                </div>
                <div id="action">
                  <%= link_to (fa_icon "angle-up 2x"), to_higher_question_path(question), method: :put %>
                  <%= link_to (fa_icon "angle-down 2x"), to_lower_question_path(question), method: :put %>
                </div>
              </div>
              <div class="body">
                <%= sub_f.text_field :question, placeholder: "Question", class: "form-control mb-3" %>
                <% if question.input_type == "single_option" || question.input_type == "multiple_option" %>
                  <div id="option" data-question="<%= index %>">
                    <% question.options.each do |option| %>
                      <%= sub_f.fields_for :options, option do |op_f| %>
                        <div class="row" data-option="<%= option.id %>">
                          <div class='form-label d-flex justify-content-between'>
                            <div>
                              Option <%= option.position %>
                              <%= link_to "remove option", remove_option_path(option.id), remote: true, method: :delete, data: {confirm: "are you sure?"} %>
                            </div>
                            <div id="action">
                            <%= link_to (fa_icon "angle-up"), to_higher_option_path(option.id), method: :put %>
                            <%= link_to (fa_icon "angle-down"), to_lower_option_path(option.id), method: :put %>
                          </div>
                          </div>
                          <%= op_f.text_field :option_text, placeholder: "Text", class: "form-control mb-3" %>
                          <%= op_f.text_field :option_value, placeholder: "Value", class: "form-control mb-3" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" id="add-option" value="<%= index %>" data-status="edit">Add Option</button>
                <% elsif question.input_type == "rating" %>
                  <div class="row">
                    <% question.options.each.with_index do |option, index| %>
                      <%= sub_f.fields_for :options, option do |op_f| %>
                        <% if index == 0 %>
                          <label>From</label>
                          <%= op_f.select :option_value, options_for_select([0, 1], option.option_value) %>
                          <%= op_f.text_field :option_text, placeholder: "Text From" %>
                        <% else %>
                          <label>To</label>
                          <%= op_f.select :option_value, options_for_select([2, 3, 4, 5], option.option_value) %>
                          <%= op_f.text_field :option_text, placeholder: "Text To" %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                <% elsif question.input_type == "text_field" || question.input_type == "text_area" %>
                  <%= sub_f.text_field :placeholder, placeholder: "Placeholder", class: "form-control mb-3"%>
                <% end %>
                <div class="form-check">
                  <%= sub_f.check_box :is_required, class: "form-check-input" %>
                  <%= sub_f.label :is_required, "Requried", class: "form-check-label" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
  <%= f.submit "Submit", disable_with: 'Submiting...', class: "btn btn-primary" %>
<% end %>