<%= paginate @forms %>
<%= link_to '+ New Form', new_form_path, class: "btn btn-success" %>
<table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>Option</th>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.title %></td>
        <td>
          <%= link_to "Preview", form_path(form), class: "badge rounded-pill bg-primary link-light" %>
          <%= link_to "Edit", edit_form_path(form), class: "badge rounded-pill bg-secondary link-light" %>
          <%= link_to "Delete", form_path(form), class: "badge rounded-pill bg-danger link-light", data: { confirm: "Are You Sure" }, method: :delete %>
          <span class="badge rounded-pill bg-success ms-3" id="copy-link" data-link="<%= new_form_answer_url(form) %>">Copy</span>
          <%= link_to "Answers", form_answers_path(form), class: "badge rounded-pill bg-info link-light"%>
          <%= link_to "Summary", summary_form_path(form), class: "badge rounded-pill bg-warning link-light"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>